.chatWrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  background: #1a1a1a;
  color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.chatHeader {
  padding: 16px;
  background: #222;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.chatFooter {
  display: flex;
  padding: 16px;
  border-top: 1px solid #333;
}

.chatFooter input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: none;
  margin-right: 8px;
}

.chatFooter button {
  background: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.chatBody {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #0f0f0f;
  
  p{
    color: white;
  }
}


.userMessage {
  align-self: flex-end;
  background-color: #25d366;
  color: #000;
  padding: 10px 14px;
  border-radius: 16px 16px 0 16px;
  max-width: 70%;
  font-size: 14px;
  word-break: break-word;
}


.assistantMessage {
  align-self: flex-start;
  background-color: #2f2f2f;
  color: #fff;
  padding: 10px 14px;
  border-radius: 16px 16px 16px 0;
  max-width: 70%;
  font-size: 14px;
  word-break: break-word;
}

.loading {
  font-style: italic;
  color: #aaa;
}
